.StartHere {
	display: flex;
	justify-content: space-between;
}

.StartHere > div {
	width: 49%;
}

.StartHere nav {
	margin-top: 1rem;
}

.StartHere nav a {
	/*background: rgb(0,160,210);*/
	background: #00a0d2;
	color: #fff;
	padding: 1rem;
	display: inline-block;
}

.StartHere nav a:hover {
	background: rgba(0, 160, 210, 0.8);
	color: #fff;
}
