.AppGridAction {
	background: #fff;
	box-shadow: 0 0 2px #e2e4e7;
	width: 48%;
	/*width: 100%;*/
}
.AppGridAction a, .AppGridAction > span {
	padding: 1em;
	display: block;
	position: relative;
}
.AppGridAction a {
	cursor: pointer;
}
.AppGridAction a:after {
	display: flex;
	align-items: baseline;
	content: "→";
	position: absolute;
	right: 0.5em;
	top: 0;
	bottom: 0;
	font-size: 2em;
	transition: transform 200ms;
}
.AppGridAction a:hover:after {
	transform: translateX(10px);
}
