.Footer {
	background: #e2e4e7;
	margin-top: 5rem;
	border-top: 1px solid #8f98a1;
	color: #555d66;
	padding: 1rem 0;
	font-size: 0.75em;
}

.Footer > .wrapper {
	display: flex;
}

.Footer > .wrapper > :first-child {
	flex-grow: 1;
}
