html {
	background: #f3f4f5;
	color: #444;
	font-family: "Open Sans", sans-serif;
	line-height: 1.5;
}

body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.wrapper {
	/*width: 600px;*/
	width: 960px;
	margin: 30px auto;
}

h1, h2, h3, h4, h5 {
	color: rgba(38, 52, 64, .8);
	font-weight: normal;
}

a {
	text-decoration: none;
	color: RGB(0,160,210);
}

code {
	background: #eee;
	border-radius: 2px;
}

.content {
	background: #fff;
	border: 1px solid #D6DFE5;
	padding: 20px;
	line-height: 1.4;
}

table.apps-list {
	width: 100%;
	padding: 0;
	border-collapse:collapse;
}

table.apps-list tr:nth-child(even) {
	background: rgba(38, 52, 64, .03)
}

table.apps-list td {
	padding: 15px;
}

table.apps-list .app-name {
	color: #ccc;
	font-size: 14px;
}

.add-new {
	border: 1px dashed rgba(0, 0, 0, 0.3);
	margin-top: 10px;
	padding: 20px;
	background: rgba(0, 0, 0, 0.02);
	text-align: center;
}

.add-new a {
	border-bottom: 1px solid #7B95AB;
	color: #7B95AB
}

form#setupform {
	font-size: 12px;
	color: #bbb;
}

.oauth-credentials td {
	padding: 5px;
	font-size: 14px;
}

.wp-signup-container > h2 {
	display: none;
}

.message {
	padding: 15px;
	border: 1px solid #333;
	background: #eee;
	font-weight: bold;
	color: #fff;
}

.message.error {
	border-color: #9A2323;
	background: #DC3232;
}

.message.success {
	border-color: #31843F;
	background: #46B450;
}

.message a {
	color: inherit;
	text-decoration: underline;
}

.screen-reader-text {
	clip: rect( 1px,1px,1px,1px );
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}
